Software/NodeRed Trial/Function tests.json
[
    {
        "id": "319c7abf885f534f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20c76cee5ac74ce3",
        "type": "inject",
        "z": "319c7abf885f534f",
        "name": "TS- ms",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "HelloWorld",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "990feb18a96de7d4"
            ]
        ]
    },
    {
        "id": "80faeed2f8599bcb",
        "type": "debug",
        "z": "319c7abf885f534f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "990feb18a96de7d4",
        "type": "function",
        "z": "319c7abf885f534f",
        "name": "",
        "func": "// Create a Date object from the payload\nvar ts = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = Math.round(ts/1000);\n// Return the message so it can be sent on\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "80faeed2f8599bcb"
            ]
        ]
    },
    {
        "id": "d1073c30.cb321",
        "type": "inject",
        "z": "319c7abf885f534f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 590,
        "y": 480,
        "wires": [
            [
                "7bab9134.35ad"
            ]
        ]
    },
    {
        "id": "f96f0ba7.cfe008",
        "type": "debug",
        "z": "319c7abf885f534f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "3ea03953.25a1a6",
        "type": "comment",
        "z": "319c7abf885f534f",
        "name": "Example: Catch Node",
        "info": "Catch node can catch error caused by specified nodes or all nodes in a flow.  It receives input of target node.",
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "d6a15623.056d18",
        "type": "comment",
        "z": "319c7abf885f534f",
        "name": "Catch error of a node",
        "info": "",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "7e1c072c.bc1cc8",
        "type": "comment",
        "z": "319c7abf885f534f",
        "name": "Catch error caused by function node",
        "info": "",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "b45ca54e.eca208",
        "type": "catch",
        "z": "319c7abf885f534f",
        "name": "",
        "scope": [
            "7bab9134.35ad"
        ],
        "uncaught": false,
        "x": 760,
        "y": 520,
        "wires": [
            [
                "f96f0ba7.cfe008"
            ]
        ]
    },
    {
        "id": "7bab9134.35ad",
        "type": "function",
        "z": "319c7abf885f534f",
        "name": "Error",
        "func": "throw new Error(\"Error Occured!\")",
        "outputs": 0,
        "noerr": 0,
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "e36406f2.8ef798",
        "type": "inject",
        "z": "319c7abf885f534f",
        "name": "",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "c3c50023.3bbed"
            ]
        ]
    },
    {
        "id": "c3c50023.3bbed",
        "type": "http request",
        "z": "319c7abf885f534f",
        "name": "Recent Quakes",
        "method": "GET",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 660,
        "y": 260,
        "wires": [
            [
                "8afc6cac.e0812"
            ]
        ]
    },
    {
        "id": "8afc6cac.e0812",
        "type": "csv",
        "z": "319c7abf885f534f",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "44779781.4190f8",
                "6f0eb546.9e208c"
            ]
        ]
    },
    {
        "id": "44779781.4190f8",
        "type": "debug",
        "z": "319c7abf885f534f",
        "name": "",
        "active": true,
        "complete": false,
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "6f0eb546.9e208c",
        "type": "switch",
        "z": "319c7abf885f534f",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 320,
        "wires": [
            [
                "d78d4aa8.8c8208"
            ]
        ]
    },
    {
        "id": "d78d4aa8.8c8208",
        "type": "change",
        "z": "319c7abf885f534f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "72fddece.fac0d"
            ]
        ]
    },
    {
        "id": "72fddece.fac0d",
        "type": "debug",
        "z": "319c7abf885f534f",
        "name": "",
        "active": true,
        "complete": false,
        "x": 1110,
        "y": 320,
        "wires": []
    }
]